## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,WeatherPy_Database.csv,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,60.80,76,99,9.37,overcast clouds
1,1,Camacha,PT,33.0833,-16.3333,60.22,82,20,18.41,few clouds
2,2,Mount Gambier,AU,-37.8333,140.7667,54.97,86,78,9.40,light rain
3,3,New Norfolk,AU,-42.7826,147.0587,51.30,76,100,5.01,light rain
4,4,Pevek,RU,69.7008,170.3133,30.15,90,100,0.60,overcast clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,WeatherPy_Database.csv,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Touros,BR,-5.1989,-35.4608,77.25,90,70,11.27,broken clouds
7,7,Hilo,US,19.7297,-155.0900,81.28,84,100,8.05,overcast clouds
9,9,Tarakan,ID,3.3000,117.6333,80.10,89,75,4.61,broken clouds
15,15,Manggar,ID,-2.8833,108.2667,83.77,76,81,6.33,broken clouds
16,16,Bengkulu,ID,-3.8004,102.2655,76.78,86,98,5.82,overcast clouds
17,17,Pemba,MZ,-12.9740,40.5178,75.04,87,32,11.27,scattered clouds
26,26,Vaini,TO,-21.2000,-175.2000,80.76,74,40,8.05,scattered clouds
28,28,Kapaa,US,22.0752,-159.3190,82.38,82,75,17.27,light rain
31,31,Sibolga,ID,1.7427,98.7792,76.08,97,100,3.74,moderate rain
32,32,Coahuayana,MX,18.7333,-103.6833,81.16,60,68,5.97,broken clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

WeatherPy_Database.csv    217
City                      217
Country                   217
Lat                       217
Lng                       217
Max Temp                  217
Humidity                  217
Cloudiness                217
Wind Speed                217
Current Description       217
dtype: int64

In [29]:
preferred_cities_df.isnull().sum()

WeatherPy_Database.csv    0
City                      0
Country                   0
Lat                       0
Lng                       0
Max Temp                  0
Humidity                  0
Cloudiness                0
Wind Speed                0
Current Description       0
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#dropna()
#If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,WeatherPy_Database.csv,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Touros,BR,-5.1989,-35.4608,77.25,90,70,11.27,broken clouds
7,7,Hilo,US,19.7297,-155.0900,81.28,84,100,8.05,overcast clouds
9,9,Tarakan,ID,3.3000,117.6333,80.10,89,75,4.61,broken clouds
15,15,Manggar,ID,-2.8833,108.2667,83.77,76,81,6.33,broken clouds
16,16,Bengkulu,ID,-3.8004,102.2655,76.78,86,98,5.82,overcast clouds
17,17,Pemba,MZ,-12.9740,40.5178,75.04,87,32,11.27,scattered clouds
26,26,Vaini,TO,-21.2000,-175.2000,80.76,74,40,8.05,scattered clouds
28,28,Kapaa,US,22.0752,-159.3190,82.38,82,75,17.27,light rain
31,31,Sibolga,ID,1.7427,98.7792,76.08,97,100,3.74,moderate rain
32,32,Coahuayana,MX,18.7333,-103.6833,81.16,60,68,5.97,broken clouds

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Touros,BR,77.25,broken clouds,-5.1989,-35.4608,
7,Hilo,US,81.28,overcast clouds,19.7297,-155.0900,
9,Tarakan,ID,80.10,broken clouds,3.3000,117.6333,
15,Manggar,ID,83.77,broken clouds,-2.8833,108.2667,
16,Bengkulu,ID,76.78,overcast clouds,-3.8004,102.2655,
17,Pemba,MZ,75.04,scattered clouds,-12.9740,40.5178,
26,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,
28,Kapaa,US,82.38,light rain,22.0752,-159.3190,
31,Sibolga,ID,76.08,moderate rain,1.7427,98.7792,
32,Coahuayana,MX,81.16,broken clouds,18.7333,-103.6833,

In [31]:
# 6a. Set parameters to search for hotels with 5000 meters. (Paris)
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "lat" : lat,
    "lng" :lng
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
# 7. Drop the rows where there is no Hotel Name.
try:
    clean_hotel_df=hotel_df.dropna()
    
except:
    print('No empty rows to drop')
    clean_hotel_df=hotel_df

In [34]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Touros,BR,77.25,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
7,Hilo,US,81.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Tarakan,ID,80.10,broken clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
15,Manggar,ID,83.77,broken clouds,-2.8833,108.2667,Guest Hotel
16,Bengkulu,ID,76.78,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
17,Pemba,MZ,75.04,scattered clouds,-12.9740,40.5178,Guesthouse Samotina
26,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
28,Kapaa,US,82.38,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
31,Sibolga,ID,76.08,moderate rain,1.7427,98.7792,Hotel Syariah CN Darussalam
32,Coahuayana,MX,81.16,broken clouds,18.7333,-103.6833,El rranchito michuacan de ocampos

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
#The text inside the multiline string is HTML code. HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). Angular brackets always come in pairs. The opening angular bracket is followed by some text inside, such as dl, dt, and dd. The closing angular bracket is preceded by a forward-slash ("/"). The text inside with the angular brackets is called a tag. 

#Here's what these tags mean:

#The <dl> tag is a description list (dl).
#The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
#The <dd> tag is used to define the term or name or <dt> tag.
#<b> Defines bold text
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt><b>Weather</b></dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))